google-generativeai
huggingface_hub
langchain-huggingface
python-dotenv
streamlit 
youtube-transcript-api 
PyPDF2 
duckduckgo-search
langchain 
langchain-google-genai 
langgraph 
pydantic 
duckduckgo-search 
streamlit 
youtube-transcript-api 